// *** Cinta.
.ribbon {
  padding: 6em 0;
  // *** Texto de la Cinta.
  &__text {
    font-size: 5em;
    letter-spacing: 0.2em;
    padding: 0 2em;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px $color-4;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: 3px $color-4;
    -o-text-fill-color: transparent;
    -o-text-stroke: 3px $color-4;
  }
  & > .underline {
    background-color: $color-7;
    margin: auto;
    height: 3px;
    width: 30em;
  }
}

.about {
  background-color: $color-5;
  color: $color-4;
  font-family: $font-2, sans-serif;
  font-size: 16px;
  font-weight: 800;
  padding: 4em 0;

  // *** Tarjetas
  &__data {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 2em;
    margin: 15em auto;
    max-width: $breakpoint-1;
  }
  &__card {
    background-color: $color-6;
    columns: 3;
    gap: 2em;
    padding: 5em;
  }
  &__col {
    break-inside: avoid;
  }
  &__col > * {
    text-align: center;
  }
  &__up {
    font-size: 4em;
  }
  &__down {
    font-size: 2.5em;
  }
}
