.about {
  background-color: $color-5;
  .about__ribbon {
    color: $color-4;
    font-family: $font-2, sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: 5rem 0;
    position: relative;
    text-align: center;
  }
  .about__data {
  }
}
