// *** Hecho

.facts {
  background-color: $color-5;
  color: $color-4;
  display: grid;
  font-size: $base-1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  justify-content: center;
  padding: 4em 2em;
  place-content: center;
  margin: auto;

  @include respond-to('tablet') {
    font-size: $base-2;
  }

  @include respond-to('phone') {
    font-size: $base-2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  // *** Tarjeta

  .fact {
    display: flex;
    padding: 0 4em;

    @include respond-to('phone') {
      padding: 0;
    }

    // *** Barras Laterales

    &__bar {
      border-radius: 2em;
      height: 10em;
      width: 2em;
    }

    // *** Derecha / Izquierda

    &__left,
    &__right {
      margin: 2em;
    }

    // *** Contenido

    &__number {
      font-family: $font-2, sans-serif;
      font-size: 4em;
      font-weight: 800;
      margin-top: 0.5em;
    }

    &__text {
      color: $color-10;
      letter-spacing: 1px;
    }
  }
}

// Control de Colores

.bar-1 {
  background-color: $color-1;
}
.bar-2 {
  background-color: $color-2;
}
.bar-3 {
  background-color: $color-3;
}
.bar-4 {
  background-color: $color-7;
}
