// Hecho

.facts {
  background-color: $color-5;
  color: $color-4;
  display: grid;
  font-size: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  justify-content: center;
  padding: 2em;
  place-content: center;
  margin: auto;
  
  // Tarjeta

  .fact {
    display: flex;
    padding: 0 4em;
    
    // Barras Laterales
    
    &__bar {
      border-radius: 3em;
      height: 160px;
      width: 32px;
    }

    // *** Derecha / Izquierda
    
    &__left, 
    &__right {
      margin: 2em;
    }

    // *** Contenido

    &__number {
      font-family: $font-2, sans-serif;
      font-size: 4em;
      font-weight: 800;
      margin-top: 0.5em;
    }

    &__text {
      color: $color-10;
      letter-spacing: 1px;
    }
  }
}

// Control de Colores

.bar-1 {
  background-color: $color-1;
}
.bar-2 {
  background-color: $color-2;
}
.bar-3 {
  background-color: $color-3;
}
.bar-4 {
  background-color: $color-7;
}