// *** Cabecera

.header {
  font-size: $base-1;

  // *** Tablet

  @include respond-to('tablet') {
    font-size: $base-2;
  }

  // *** Phone

  @include respond-to('phone') {
    font-size: $base-3;
  }
}

// *** Componente: Navegacion

.nav {
  @include content;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  position: fixed;
  width: 100%;
  z-index: 2000;

  &__nav {
    @include respond-to('tablet') {
      align-items: center;
      display: flex;
      background-color: $color-5;
      flex-direction: column;
      height: 100vh;
      justify-content: space-around;
      overflow: hidden;
      padding: 2em 0;
      position: absolute;
      transition: all ease 0.6s;
      transform: translateX(100%);
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  }

  // *** Logo
  &__logo {
    width: 10em;
  }

  // *** Opciones

  &__option {
    color: $color-4;
    letter-spacing: 1px;
    margin-left: 2em;

    &:hover,
    &:active {
      text-decoration: underline;
    }

    @include respond-to('tablet') {
      font-size: 1.1em;
      margin: 0;
    }
  }

  // *** Burger

  &__burger {
    display: none;

    // *** Al Agregar '.open' con JavaScript

    &.open .nav__bar:nth-child(1) {
      transform: translateY(11px) rotateZ(45deg);
    }

    &.open .nav__bar:nth-child(2) {
      opacity: 0;
    }

    &.open .nav__bar:nth-child(3) {
      transform: translateY(-11px) rotateZ(-45deg);
    }

    @include respond-to('tablet') {
      display: block;
      position: relative;
      z-index: 2;
    }
  }

  // *** Barras

  &__bar {
    background-color: $color-4;
    height: 0.5rem;
    margin: 0.2rem 0;
    transition: all ease 0.6s;
    width: 2.5rem;
  }
}

// *** Componente: Presentacion

.slider {
  margin: auto;
  height: 100vh;
  margin: auto;

  // *** Slides

  .slider__slide {
    height: inherit;
    left: 0;
    position: absolute;
    transition: opacity 1.2s ease;
    opacity: 0;
    width: 100%;
    z-index: -1;
  }

  // *** Contenido

  .slider__content {
    @include content;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: $breakpoint-1;
    padding: 2em;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);

    @include respond-to('phone') {
      padding: 2em 0;
    }
  }

  // *** Texto

  .slider__text {
    color: $color-4;
    font-family: $font-2, sans-serif;
    font-size: 4em;
    font-weight: 800;
    text-align: center;

    @include respond-to('phone') {
      font-size: 3em;
    }
  }

  // *** Lista

  .slider__list {
    color: $color-4;
    margin-top: 1em;
    letter-spacing: 1px;
    text-align: center;
  }
}

// *** URL de Imagenes

.slide-1 {
  background: url(../img/prism-background-0.jpeg) center / cover no-repeat;
}
.slide-2 {
  background: url(../img/prism-background-1.jpeg) center / cover no-repeat;
}
.slide-3 {
  background: url(../img/prism-background-2.jpeg) center / cover no-repeat;
}
.slide-4 {
  background: url(../img/prism-background-3.jpeg) center / cover no-repeat;
}
.slide-5 {
  background: url(../img/prism-background-4.jpeg) center / cover no-repeat;
}

// *** Controles

.control {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;

  // *** Puntos

  &__dot {
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid $color-4;
    display: inline-block;
    height: 1rem;
    margin: 2em 0.2rem;
    transition: background-color 0.6s ease-out;
    width: 1rem;
  }
}

// *** Utilidades

.show {
  transition: opacity 1.2s ease;
  opacity: 1 !important;
}

.open {
  transform: translateX(0) !important;
}

.fill {
  background-color: $color-4 !important;
}
