// Cabecera

// Navegación
.nav {
  @include content;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: $breakpoint-1;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  z-index: 100;

  // Logo
  &__logo {
    width: 150px;
  }

  // Opciones
  &__option {
    color: $color-4;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: 2rem;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  // Burger
  &__burger {
    display: none;
  }
  &__bar {
    background-color: $color-4;
    height: 8px;
    margin: 2px 0;
    transition: all ease 0.6s;
    width: 35px;
  }

  // Al Agregar '.open'
  &__burger.open &__bar:nth-child(1) {
    transform: translateY(10px) rotateZ(45deg);
  }
  &__burger.open &__bar:nth-child(2) {
    background-color: transparent;
  }
  &__burger.open &__bar:nth-child(3) {
    transform: translateY(-10px) rotateZ(-45deg);
  }
}

// Presentación
.slider {
  height: 100vh;
  width: 100%;

  // Slides
  .slider__slide {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .slider__content {
    @include content;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $breakpoint-1;
    padding: 2rem;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
  }
  .slider__text {
    color: $color-4;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
  }
}

// Control de Imagenes

.slide-1 {
  background: url(../img/prism-background-0.jpeg) center / cover no-repeat;
}
.slide-2 {
  background: url(../img/prism-background-1.jpeg) center / cover no-repeat;
}
.slide-3 {
  background: url(../img/prism-background-2.jpeg) center / cover no-repeat;
}
.slide-4 {
  background: url(../img/prism-background-3.jpeg) center / cover no-repeat;
}
.slide-5 {
  background: url(../img/prism-background-4.jpeg) center / cover no-repeat;
}

// Controles

.control {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  &__dot {
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid $color-4;
    display: inline-block;
    height: 15px;
    margin: 0.6rem 0.2rem;
    transition: background-color 1s ease-out;
    width: 15px;
  }
}

// Keyframes

@keyframes fade-in {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

// Media Queries

@media screen and (max-width: $breakpoint-2) {
  .nav {
    &__nav {
      align-items: center;
      display: flex;
      background-color: $color-5;
      flex-direction: column;
      height: 100vh;
      justify-content: space-around;
      overflow: hidden;
      padding: 2rem 0;
      position: absolute;
      transition: all ease 1s;
      transform: translateX(100%);
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    &__option {
      font-size: 1.5rem;
      margin: 0;
    }
    &__burger {
      display: block;
      position: relative;
      z-index: 2;
    }
  }
}

// Utilidades
.show {
  animation: fade-in 1.5s ease;
  display: block !important;
}
.open {
  transform: translateX(0) !important;
}
.fill {
  background-color: $color-4 !important;
}
