// *** Procesos

.processes {
  color: $color-4;
  font-size: 16px;
  padding: 4em 2em;
  margin: auto;
  max-width: $breakpoint-1;

  // Titulo

  &__title {
    color: $color-5;
    font-family: $font-2, sans-serif;
    font-size: 2em;
    font-weight: 800;
    padding: 1em 0;
    text-align: center;
  }

  // Wrapper

  &__wrapper {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  // *** Control de Proceso

  & .process:nth-child(4) {
    grid-column: 1 / 3;
  }
}

// *** Proceso

.process {
  height: 35em;
  padding: 2em;

  // *** Wrapper

  &__wrapper {
    align-items: center;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 2em;
  }

  // *** Logo

  &__logo {
    height: 4em;
  }

  // *** Titulo

  &__title {
    font-family: $font-2, sans-serif;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
  }

  // *** Descripcion

  &__description {
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 4em;
  }
}

// *** Control de Imagenes

.prism-1 {
  background: url(../img/prism-background-0.jpeg) center / cover no-repeat;
}

.prism-2 {
  background: url(../img/prism-background-0.jpeg) center / cover no-repeat;
}

.prism-3 {
  background: url(../img/prism-background-0.jpeg) center / cover no-repeat;
}

.prism-4 {
  background: url(../img/prism-background-0.jpeg) center / cover no-repeat;
}

.prism-5 {
  background: url(../img/prism-background-0.jpeg) center / cover no-repeat;
}
