// Proyectos

.projects {
  font-size: $base-1;
  margin: auto;
  padding: 4em 2em;
  position: relative;

  @include respond-to('tablet') {
    font-size: $base-2;
  }

  @include respond-to('tablet') {
    font-size: $base-3;
  }

  &__title {
    font-family: $font-2, sans-serif;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    padding: 1em;
  }

  &__container {
    height: 100vh;
    width: 100%;
  }

  // Proyecto

  .project {
    background-color: $color-12;
    border-radius: 1em;
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100%;
    width: 100%;

    @include respond-to('phone') {
      font-size: $base-3;
    }

    // Columna I

    .col-1 {
      padding: 2em;
    }

    &__client {
      font-family: $font-2, sans-serif;
      font-size: 3em;
      font-weight: 800;
      text-align: center;
    }

    // Columna II

    .col-2 {
      padding: 2em;
    }

    &__circle {
      background-color: $color-1;
      border-radius: 50%;
      height: 3em;
      margin: auto;
      width: 3em;
    }

    // Columna III

    .col-3 {
      grid-column: 1 / 3;
      overflow: hidden;
    }
  }
}
