// Testimonios

.testimonials {
  font-size: $base-1;
  margin: auto;
  max-width: $breakpoint-1;
  padding: 4em 2em;

  @include respond-to('tablet') {
    font-size: $base-2;
  }

  @include respond-to('phone') {
    font-size: $base-3;
  }

  // Titulo

  &__title {
    color: $color-8;
    font-family: $font-2, sans-serif;
    font-size: 2.5em;
    font-weight: 800;
    padding: 1em 0;
    text-align: center;
  }

  // Contenedor

  &__container {
    background: url(../img/developing-gradient-2.png) center / contain no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;

    @include respond-to('phone') {
      grid-template-columns: 1fr;
      gap: 2em;
    }
  }
}

// Testimonio

.testimony {
  align-items: center;
  border: 3px solid $color-3;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  height: 40em;
  justify-content: space-around;
  margin: 4em auto;
  padding: 2em;
  transition: all 0.6s ease;
  width: 25em;

  @include respond-to('tablet') {
    height: 30em;
    margin: 2em auto;
    padding: 1em;
    width: fit-content;
  }

  @include respond-to('phone') {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  // Marcas

  &__container {
    height: 5em;
  }

  &__brand {
    height: 100%;
  }

  // Cliente y Textos

  &__client {
    color: $color-9;
    text-align: center;
    font-family: $font-2, sans-serif;
    font-size: 2em;
  }

  &__text {
    text-align: center;
    letter-spacing: 1px;
  }

  // Skill Set

  &__skill {
    letter-spacing: 1px;
  }
}

// Rotaciones

.testimonials__container .testimony:nth-child(1) {
  transform: rotateZ(15deg);

  @include respond-to('phone') {
    transform: rotateZ(0deg);
  }
}

.testimonials__container .testimony:nth-child(2) {
  transform: rotateZ(-15deg);

  @include respond-to('phone') {
    transform: rotateZ(0deg);
  }
}

.testimonials__container .testimony:nth-child(3) {
  transform: rotateZ(-15deg);

  @include respond-to('phone') {
    transform: rotateZ(0deg);
  }
}

.testimonials__container .testimony:nth-child(4) {
  transform: rotateZ(15deg);

  @include respond-to('phone') {
    transform: rotateZ(0deg);
  }
}

.testimonials__container .testimony:hover {
  transform: rotateZ(0deg);
}
