// *** Fuentes
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
$font-1: 'Nunito';
$font-2: 'Montserrat';

// *** Colores Corporativos

$color-1: #2b9c88;
$color-2: #172d54;
$color-3: #1e4b65;

// *** Colores Adicionales

$color-4: #ffffff;
$color-5: #000000;
$color-6: #0c0e10;
$color-7: #a62e00;
$color-8: #172d54;
$color-9: #8f8f8f;
$color-10: #e8e8e8;

// *** Altos y Anchos

$breakpoint-1: 1400px;
$breakpoint-2: 980px;
$breakpoint-3: 720px;

// Resets

// *** Fuente Base 16px

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  // outline: 1px solid red;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-1, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

// Utilidades

// .underline {
//   margin: 1.5rem auto;
//   height: 5px;
// }

// Mixins
@mixin content {
  inset: auto 0;
  margin: 0 auto;
}

// Modulos
@import 'navbar';
@import 'about';
@import 'info';
@import 'team';
@import 'facts';
@import 'projects';
@import 'testimonials';
@import 'services';
@import 'process';
