*,
*::after,
*::before {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

/* Tarjeta */

.service {
  border-radius: 24px; /* 1.5rem */
  box-shadow: -12px 14px 24px -15px rgba(76, 76, 76, 0.4);
  color: #fff;
  height: 400px;
  padding: 2rem;
  width: 700px;
}

.service__up {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-between;
}

.service__down {
  height: 70%;
}

.service__title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.service__list {
  margin-bottom: 1rem;
}

.service__text {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin-right: 1rem;
}

/* Figuras */

.square {
  height: 100%;
  width: 100%;
}

/* Tarjeta 4 */

.service-4 {
  background-color: #dd5724;
}

.pattern-4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;
}

.pattern-4 > div {
  background-color: #a34820;
}

.pattern-4 .square:nth-child(4),
.pattern-4 .square:nth-child(6),
.pattern-4 .square:nth-child(8),
.pattern-4 .square:nth-child(9),
.pattern-4 .square:nth-child(14),
.pattern-4 .square:nth-child(15),
.pattern-4 .square:nth-child(16),
.pattern-4 .square:nth-child(18) {
  background-color: #dd5724;
}
