@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "Nunito", sans-serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.nav {
  left: 0;
  margin: 0 auto;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  position: fixed;
  width: 100%;
  z-index: 100; }
  .nav .nav__logo {
    width: 150px; }
  .nav .nav__option {
    color: #ffffff;
    margin-left: 2rem; }
    .nav .nav__option:hover, .nav .nav__option:active {
      text-decoration: underline; }
  .nav .nav__burger {
    display: none; }
  .nav .nav__bar {
    background-color: #ffffff;
    height: 8px;
    margin: 2px 0;
    transition: all ease 0.6s;
    width: 35px; }
  .nav .nav__burger.open .nav__bar:nth-child(1) {
    transform: translateY(10px) rotateZ(45deg); }
  .nav .nav__burger.open .nav__bar:nth-child(2) {
    background-color: transparent; }
  .nav .nav__burger.open .nav__bar:nth-child(3) {
    transform: translateY(-10px) rotateZ(-45deg); }

.slider {
  height: 100vh;
  width: 100%; }
  .slider .slider__slide {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1; }
  .slider .slider__content {
    left: 0;
    margin: 0 auto;
    right: 0;
    height: 100%;
    max-width: 90%;
    position: absolute;
    width: 100%; }
  .slider .slider__text {
    color: #ffffff;
    font-size: 70px;
    font-weight: 800;
    padding-right: 40%;
    position: absolute;
    top: 40%; }
  .slider .slider__controls {
    right: -15px;
    position: absolute;
    top: 50%; }
  .slider .slider__dot {
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 50%;
    height: 15px;
    margin: 5px 0;
    transition: background-color 1s ease-out;
    width: 15px; }

.slide-1 {
  background: url(../img/prism-background-0.jpeg) center/cover no-repeat; }

.slide-2 {
  background: url(../img/prism-background-1.jpeg) center/cover no-repeat; }

.slide-3 {
  background: url(../img/prism-background-2.jpeg) center/cover no-repeat; }

.slide-4 {
  background: url(../img/prism-background-3.jpeg) center/cover no-repeat; }

.slide-5 {
  background: url(../img/prism-background-4.jpeg) center/cover no-repeat; }

@keyframes fade {
  0% {
    opacity: 0.55; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 1024px) {
  .nav .nav__nav {
    align-items: center;
    display: flex;
    background-color: #000000;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    overflow: hidden;
    padding: 4rem 0;
    position: absolute;
    transition: all ease 1s;
    transform: translateX(110%);
    top: 0;
    width: 130%;
    z-index: 1; }
  .nav .nav__option {
    margin: 0; }
  .nav .nav__burger {
    display: block;
    position: relative;
    z-index: 2; } }

.show {
  animation: fade 3s ease;
  display: block !important; }

.open {
  transform: translateX(-10%) !important; }

.fill {
  background-color: #ffffff !important; }

.about {
  background-color: #000000; }
  .about .about__ribbon {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: 5rem 0;
    position: relative;
    text-align: center; }
