@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "Nunito", sans-serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.nav {
  inset: auto 0;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  z-index: 2000; }
  .nav__logo {
    width: 150px; }
  .nav__option {
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: 2rem; }
    .nav__option:hover, .nav__option:active {
      text-decoration: underline; }
  .nav__burger {
    display: none; }
  .nav__bar {
    background-color: #ffffff;
    height: 8px;
    margin: 2px 0;
    transition: all ease 0.6s;
    width: 35px; }
  .nav__burger.open .nav__bar:nth-child(1) {
    transform: translateY(10px) rotateZ(45deg); }
  .nav__burger.open .nav__bar:nth-child(2) {
    background-color: transparent; }
  .nav__burger.open .nav__bar:nth-child(3) {
    transform: translateY(-10px) rotateZ(-45deg); }

.slider {
  height: 100vh;
  width: 100%; }
  .slider .slider__slide {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1; }
  .slider .slider__content {
    inset: auto 0;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    padding: 2rem;
    position: absolute;
    top: 60%;
    transform: translateY(-50%); }
  .slider .slider__text {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 800;
    text-align: center; }

.slide-1 {
  background: url(../img/prism-background-0.jpeg) center/cover no-repeat; }

.slide-2 {
  background: url(../img/prism-background-1.jpeg) center/cover no-repeat; }

.slide-3 {
  background: url(../img/prism-background-2.jpeg) center/cover no-repeat; }

.slide-4 {
  background: url(../img/prism-background-3.jpeg) center/cover no-repeat; }

.slide-5 {
  background: url(../img/prism-background-4.jpeg) center/cover no-repeat; }

.control {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%; }
  .control__dot {
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #ffffff;
    display: inline-block;
    height: 15px;
    margin: 0.6rem 0.2rem;
    transition: background-color 1s ease-out;
    width: 15px; }

@keyframes fade-in {
  0% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 980px) {
  .nav__nav {
    align-items: center;
    display: flex;
    background-color: #000000;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    overflow: hidden;
    padding: 2rem 0;
    position: absolute;
    transition: all ease 1s;
    transform: translateX(100%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
  .nav__option {
    font-size: 1.5rem;
    margin: 0; }
  .nav__burger {
    display: block;
    position: relative;
    z-index: 2; } }

.show {
  animation: fade-in 1.5s ease;
  display: block !important; }

.open {
  transform: translateX(0) !important; }

.fill {
  background-color: #ffffff !important; }

.ribbon {
  padding: 6em 0; }
  .ribbon__text {
    font-size: 5em;
    letter-spacing: 0.2em;
    padding: 0 2em;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #ffffff;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: 3px #ffffff;
    -o-text-fill-color: transparent;
    -o-text-stroke: 3px #ffffff; }
  .ribbon > .underline {
    background-color: #a62e00;
    margin: auto;
    height: 3px;
    width: 30em; }

.about {
  background-color: #000000;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  padding: 4em 0; }
  .about__data {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 2em;
    margin: 15em auto;
    max-width: 1400px; }
  .about__card {
    background-color: #0c0e10;
    columns: 3;
    gap: 2em;
    padding: 5em; }
  .about__col {
    break-inside: avoid; }
  .about__col > * {
    text-align: center; }
  .about__up {
    font-size: 4em; }
  .about__down {
    font-size: 2.5em; }

.reference {
  align-items: center;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  padding: 6em; }
  .reference__card {
    align-items: center;
    background-color: #ffffff;
    border-radius: 2em;
    color: #172d54;
    display: flex;
    justify-content: space-between;
    height: 35em;
    padding: 4em;
    max-width: 1400px;
    width: 100%; }
  .reference__left, .reference__right {
    height: 100%;
    margin: 0 2em;
    width: 50%; }
  .reference__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .reference__title {
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 800; }
  .reference__reference {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 600; }
  .reference__text {
    color: #e0e0e0;
    letter-spacing: 1px;
    margin: 2rem 0; }
  .reference__img {
    height: inherit;
    object-fit: contain;
    width: 100%; }

.info {
  align-items: center;
  display: flex;
  color: #ffffff;
  justify-content: center;
  padding: 4em;
  margin-top: 4em;
  max-width: 1400px;
  width: 100%; }
  .info__left, .info__right {
    height: 100%;
    margin: 2em;
    width: 50%; }
  .info__title {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    font-weight: 800;
    text-align: center; }
  .info__text {
    color: #e0e0e0;
    letter-spacing: 1px;
    text-align: center; }

.team {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 4em 0; }
  .team__title {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    font-weight: 800;
    text-align: center; }
  .team__container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding: 2em;
    place-content: center;
    margin: 4em auto;
    max-width: 1400px; }

.member {
  background: url(../img/avatar.jpg) center/cover no-repeat;
  border-radius: 1em;
  height: 30em;
  position: relative;
  width: 20em; }
  .member__info {
    background: #0c0e10;
    border-radius: 1em;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    width: 100%; }
    .member__info > * {
      text-align: center; }
  .member__name {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 800; }
  .member__title {
    font-weight: 600;
    letter-spacing: 1px; }

.team > .underline {
  background-color: #1e4b65;
  width: 380px; }

.facts {
  background-color: #000000;
  color: #ffffff;
  display: grid;
  font-size: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  justify-content: center;
  padding: 2em;
  place-content: center;
  margin: auto; }
  .facts .fact {
    display: flex;
    padding: 0 4em; }
    .facts .fact__bar {
      border-radius: 3em;
      height: 160px;
      width: 32px; }
    .facts .fact__left, .facts .fact__right {
      margin: 2em; }
    .facts .fact__number {
      font-family: "Montserrat", sans-serif;
      font-size: 4em;
      font-weight: 800;
      margin-top: 0.5em; }
    .facts .fact__text {
      color: #e0e0e0;
      letter-spacing: 1px; }

.bar-1 {
  background-color: #2b9c88; }

.bar-2 {
  background-color: #172d54; }

.bar-3 {
  background-color: #1e4b65; }

.bar-4 {
  background-color: #a62e00; }

.projects {
  font-size: 16px;
  margin: auto;
  padding: 4em 2em;
  position: relative;
  height: 90vh;
  width: 90vw; }
  .projects .project {
    background-color: #e0e0e0;
    box-shadow: 2em 2em #2b9c88;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 3fr;
    height: 100%;
    width: 100%; }
    .projects .project .col-1 {
      grid-row: 1 / 2;
      grid-column: 1 / 7;
      padding: 2rem; }
    .projects .project__client {
      font-family: "Montserrat", sans-serif;
      font-size: 4em;
      font-weight: 800;
      text-align: center; }
    .projects .project .col-2 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      padding: 2rem; }
    .projects .project__circle {
      background-color: #2b9c88;
      border-radius: 50%;
      height: 80px;
      margin: auto;
      width: 80px; }
    .projects .project .col-3 {
      grid-column: 2 / 7;
      overflow: hidden; }
    .projects .project__background {
      background: url(../img/distribuciones-cajica.png) center/cover no-repeat;
      height: 100%;
      width: 100%; }

.testimonials {
  font-size: 16px;
  margin: auto;
  max-width: 1400px;
  padding: 4em 2em; }
  .testimonials__title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    font-weight: 800;
    margin: 2em 0; }
  .testimonials__container {
    background: url(../img/developing-gradient-2.png) center/contain no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em; }

.testimony {
  align-items: center;
  border: 3px solid #1e4b65;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  height: 40em;
  justify-content: space-around;
  margin: 4em auto;
  padding: 2em;
  transition: all 0.6s ease;
  width: 25em; }
  .testimony__container {
    height: 5em; }
  .testimony__brand {
    height: 100%; }
  .testimony__client {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2em; }
  .testimony__text {
    text-align: center;
    letter-spacing: 1px; }
  .testimony__skill {
    letter-spacing: 1px; }

.testimonials__container .testimony:nth-child(1) {
  transform: rotateZ(15deg); }

.testimonials__container .testimony:nth-child(2) {
  transform: rotateZ(-15deg); }

.testimonials__container .testimony:nth-child(3) {
  transform: rotateZ(-15deg); }

.testimonials__container .testimony:nth-child(4) {
  transform: rotateZ(15deg); }

.testimonials__container .testimony:hover {
  transform: rotateZ(0deg); }

/*** Servicios */
.services {
  color: #172d54;
  font-size: 16px;
  margin: 2em 0; }
  .services__title {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    padding: 0.5em;
    text-align: center; }
  .services__container {
    background: url(../img/services-background.jpeg) center/cover no-repeat; }

.bubbles {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1400px;
  padding: 2em;
  width: 100%; }

/*** Burbuja */
.bubble {
  align-items: center;
  animation: wave 3s linear infinite;
  background-image: linear-gradient(90deg, #6f9cd9 0%, #938bbd 50%, #bb789f 100%);
  border-radius: 40% 60% 40% 60% / 60% 60% 40% 40%;
  display: flex;
  flex-direction: column;
  height: 16em;
  justify-content: space-evenly;
  position: relative;
  padding: 2em;
  margin: 2em;
  width: 16em;
  z-index: 1000; }

.bubble__icon {
  font-size: 4em; }

.bubble__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center; }

.services .bubble:nth-child(2),
.services .bubble:nth-child(3) {
  align-self: flex-end; }

/*** Opciones */
.bubble:hover .service__item {
  opacity: 100;
  transform: translateX(200%); }

.bubble:hover .service__item:nth-child(1) {
  transition: all 0.6s ease; }

.bubble:hover .service__item:nth-child(2) {
  transition: all 1s ease; }

.bubble:hover .service__item:nth-child(3) {
  transition: all 1.2s ease; }

.service__list {
  position: absolute;
  right: 2em; }

.service__item {
  letter-spacing: 1px;
  opacity: 0;
  position: relative;
  padding: 1em 0;
  transition: all 0.3s ease;
  width: max-content;
  z-index: -1; }

.service__list .service__item:nth-child(2) {
  margin-left: 1em; }

/*** Animaciones */
@keyframes wave {
  12.5% {
    border-radius: 45% 55% 45% 55% / 55% 55% 45% 45%; }
  25% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; }
  37.5% {
    border-radius: 55% 45% 55% 45% / 45% 45% 55% 55%; }
  50% {
    border-radius: 60% 40% 60% 40% / 40% 40% 60% 60%; }
  62.5% {
    border-radius: 55% 45% 55% 45% / 45% 45% 55% 55%; }
  75% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; }
  87.5% {
    border-radius: 45% 55% 45% 55% / 55% 55% 45% 45%; } }

/*** Media Queries */
.process {
  background-position: center;
  background-size: cover;
  border-radius: 32px;
  color: #fff;
  display: grid;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  grid-template-rows: repeat(9, 1fr);
  height: 40em;
  padding: 1.5em;
  width: 22em; }

.prism-1 {
  background-image: url(../img/assets/black-prism.jpeg); }

.prism-2 {
  background-image: url(../img/assets/AdobeStock_438403214.jpeg); }

.prism-3 {
  background-image: url(../img/assets/AdobeStock_419358000.jpeg); }

.process__logo {
  height: 6em; }

.process__title {
  font-size: 2em;
  font-weight: bold;
  grid-row: 4 / 5;
  text-align: center; }

.process__description {
  font-size: 1.5em;
  grid-row: 6 / 10;
  text-align: center; }
